doctype html
html
    head
        title typpi.js
        script(src="notify.js")
        link(href='http://fonts.googleapis.com/css?family=Exo+2:400,500italic,300' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="style.css")
        meta(charset="utf-8")

    body
        div.container

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="autolink.js")
        script(src="script.js")